on boot

# FPS Info
  chown system graphics /sys/class/graphics/fb0/measured_fps
  chmod 0666 /sys/class/graphics/fb0/measured_fps

# KCAL permissions
  chown system system /sys/devices/platform/kcal_ctrl.0/kcal
  chown system system /sys/devices/platform/kcal_ctrl.0/kcal_enable
  chown system system /sys/devices/platform/kcal_ctrl.0/kcal_cont
  chown system system /sys/devices/platform/kcal_ctrl.0/kcal_sat
  chown system system /sys/devices/platform/kcal_ctrl.0/kcal_hue
  chown system system /sys/devices/platform/kcal_ctrl.0/kcal_min
  chown system system /sys/devices/platform/kcal_ctrl.0/kcal_val
  chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal
  chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_enable
  chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_cont
  chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_sat
  chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_hue
  chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_min
  chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_val

# Thermal
  chmod 0664 /sys/class/thermal/thermal_message/sconfig
  chown system system /sys/class/thermal/thermal_message/sconfig
  chmod 0666 /sys/class/thermal/thermal_message/temp_state
  chown system system /sys/class/thermal/thermal_message/temp_state

# Touch Sampling Rate
  chown system system /sys/devices/virtual/touch/touch_dev/bump_sample_rate
  chmod 0664 /sys/devices/virtual/touch/touch_dev/bump_sample_rate

on property:sys.perf_profile=1
    write /dev/stune/top-app/schedtune.boost 10
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 2
    write /sys/class/kgsl/kgsl-3d0/force_bus_on 1
    write /sys/class/kgsl/kgsl-3d0/force_clk_on 1
    write /sys/class/kgsl/kgsl-3d0/force_no_nap 1
    write /sys/class/kgsl/kgsl-3d0/force_rail_on 1
    write /sys/class/kgsl/kgsl-3d0/idle_timer 120
    write /sys/class/kgsl/kgsl-3d0/throttling 0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 1324800
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/hispeed_freq 1804800
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_min_freq 1094400
    write /sys/devices/system/cpu/cpu6/cpufreq/schedutil/hispeed_freq 2304000
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1708800 6:1843200"
    write /sys/module/cpu_boost/parameters/input_boost_ms 120
    write /sys/class/devfreq/soc:qcom,cpu-llcc-ddr-bw/governor performance
    write /sys/module/lpm_levels/parameters/sleep_disabled 1

on property:sys.perf_profile=0
    write /dev/stune/top-app/schedtune.boost 1
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 0
    write /sys/class/kgsl/kgsl-3d0/force_bus_on 0
    write /sys/class/kgsl/kgsl-3d0/force_clk_on 0
    write /sys/class/kgsl/kgsl-3d0/force_no_nap 0
    write /sys/class/kgsl/kgsl-3d0/force_rail_on 0
    write /sys/class/kgsl/kgsl-3d0/idle_timer 80
    write /sys/class/kgsl/kgsl-3d0/throttling 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 768000
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/hispeed_freq 1708800
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_min_freq 806400
    write /sys/devices/system/cpu/cpu6/cpufreq/schedutil/hispeed_freq 1843200
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1324800 6:1324800"
    write /sys/module/cpu_boost/parameters/input_boost_ms 100
    write /sys/class/devfreq/soc:qcom,cpu-llcc-ddr-bw/governor bw_hwmon
    write /sys/module/lpm_levels/parameters/sleep_disabled 0

on property:persist.lcd.hbm_mode=*
    write /sys/devices/platform/soc/soc:qcom,dsi-display/hbm ${persist.lcd.hbm_mode}

on property:persist.lcd.cabc_mode=*
    write /sys/devices/platform/soc/soc:qcom,dsi-display/cabc ${persist.lcd.cabc_mode}
