allow hal_audio_default vendor_data_file:dir { create write add_name };
allow hal_audio_default vendor_data_file:file { create rw_file_perms };
get_prop(hal_audio_default, dirac_prop)
set_prop(hal_audio_default, dirac_prop)
