<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.settings"
    android:versionCode="3"
    android:versionName="3.0"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <protected-broadcast android:name="com.android.systemui.doze.pulse" />

    <application
        android:allowBackup="true"
        android:label="@string/device_settings_app_name"
        android:persistent="true">

        <receiver android:name=".BootCompletedReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".thermal.ThermalActivity"
            android:label="@string/thermal_title"
            android:theme="@style/Theme.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
         </activity>

        <service
            android:name=".thermal.ThermalService"
            android:permission="ThermalService">
        </service>

        <activity
            android:name=".display.LcdFeaturesPreferenceActivity"
            android:label="@string/lcd_features_title"
            android:theme="@style/Theme.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
         </activity>

        <service
            android:name=".display.HbmTileService"
            android:icon="@drawable/ic_hbm"
            android:label="@string/lcd_hbm_tile_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

        <service
            android:name=".display.CabcTileService"
            android:icon="@drawable/ic_cabc"
            android:label="@string/lcd_cabc_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

        <service
            android:name=".RefreshRateTileService"
            android:icon="@drawable/ic_qs_refresh_rate"
            android:label="@string/refresh_rate_tile_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

        <activity
            android:name=".RefreshRateSettingsActivity"
            android:label="@string/enable_high_refresh_rate_title"
            android:theme="@style/Theme.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
         </activity>

        <activity
            android:name=".haptic.HapticLevelActivity"
            android:label="@string/haptic_title"
            android:theme="@style/Theme.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
         </activity>

        <activity
            android:name=".touchsampling.TouchSamplingSettingsActivity"
            android:label="@string/htsr_enable_title"
            android:theme="@style/Theme.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
         </activity>

         <service android:name=".doze.DozeService"
                  android:permission="XiaomiDozeService">
        </service>

         <activity
            android:name=".doze.DozeSettingsActivity"
            android:label="@string/ambient_display_title"
            android:theme="@style/Theme.Main">
        </activity>

    </application>
</manifest>

